.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .parent-component {
    padding: 15px;
    border: 1px solid #fc3;
  }
  
  .parent-component button {
    margin-top: 10px;
    background: #fc3;
    border: 0;
    padding: 10px 18px;
    color: #000;
  }
  
  .child-component {
    padding: 15px;
    border: 1px solid #007bff;
    margin-top: 10px;
  }
  
  .grandchild-component {
    padding: 15px;
    border: 1px solid #f39;
    margin-top: 10px;
  }
  
  .emp {
    font-weight: 600;
    margin-top: 15px;
    color: #f39;
  }